/*
 * Settings
 */

//// Responsive
$bp-larger-phablet                            : 550px !default;
$bp-larger-tablet                             : 750px !default;

$container-larger-phablet                     : 98% !default;
$container-width                              : 1180px !default;

$grid-columns                                 : 16 !default;
$grid-gutter                                  : 0% !default;
$column-width                                 : 100 / $grid-columns;


//// Font
$font-family                                  : 'Source Sans Pro', sans-serif;


//// Global
$global-radius                                : 2px !default;


//// Colors
$font-default                                 : rgb(119, 119, 119);
$doughnut                                     : rgb(241, 85, 62);
$link-default                                 : $doughnut;
$error-color                                  : rgb(208,2,27);
$white                                        : rgb(255,255,255);
$black                                        : rgb(0,0,0);
